/* O "*" representa qualquer tag*/
 *{
     font-family: Arial;
 }

body{
    background-color: rgb(210, 210, 210);
}

/*Estilizando por id: #id{}*/
#sectionUltimasNoticias{
    background-color: firebrick;
}

/*Estilizando por CLASS : .class{}*/
.centro{
    text-align: center; /*Alinhamento de texto*/
}

/*Trabalhando com box (margin, padding and border)*/
#sectionLutePeloFuturo{
    border-style: solid; 
    border-color: rgb(30, 30, 30);
    border-width: 30px;

    border-top-width: 10px; /*Largura de cima*/
    border-bottom-width: 6px; /*baixo*/
    border-left-width:13px; /*esquerda*/
    border-right-width:17px; /*direita*/
}

/* Estilizando por hierarquia*/
#sectionLutePeloFuturo h2{
    margin: 0px;
    margin-bottom: 17px;
}